body {
  background-color: #1b2838;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171a21;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: #c6d4df;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #66c0f4;
}

h3 {
  margin-top: 0;
  color: #c6d4df;
}

.filtros-container {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  padding: 20px;
  margin: 20px;
  flex-wrap: wrap;
}

.filtros-container label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #c6d4df;
}

.filtros-container select,
.filtros-container input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #3c6e91;
  background-color: #1b2838;
  color: #fff;
  min-width: 150px;
  box-sizing: border-box;
}

.acciones {
  margin: 0 40px;
}

button {
  background-color: #66c0f4;
  color: #000;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #417aab;
  color: #fff;
}

.formulario-grid {
  background-color: #2a475e;
  padding: 15px;
  margin: 40px;
  border-radius: 10px;
  max-width: 900px;
}

.fila-formulario label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.fila-formulario input,
.fila-formulario select {
  width: 100%;
  padding: 8px;
  background-color: #1b2838;
  color: #fff;
  border: 1px solid #3c6e91;
  border-radius: 4px;
  box-sizing: border-box;
}

.acciones-form {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

#tablaJuegos {
  width: 95%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: #2a475e;
  border-radius: 6px;
  overflow: hidden;
}

#tablaJuegos th,
#tablaJuegos td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #3c6e91;
}

#tablaJuegos thead {
  background-color: #171a21;
}

#tablaJuegos tr:hover {
  background-color: #3b5c77;
}

#tablaJuegos button {
  padding: 5px 10px;
  background-color: #66c0f4;
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

#tablaJuegos button:hover {
  background-color: #417aab;
  color: #fff;
}
